[Unit]
Description=DesKaChain Testnet Service Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/var/lib/deskachain
EnvironmentFile=/etc/deskachain/idrservice.env
ExecStart=/usr/local/bin/idrservice --rpc-url ${IDR_SERVICE_RPC_URL} --address ${IDR_SERVICE_ADDRESS} --endpoint ${IDR_SERVICE_ENDPOINT} --state ${IDR_SERVICE_STATE}
Restart=always
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
